<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Display/JavaViewer/src/com/datalogics/PDFL/JavaViewer/JavaViewer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PATH" value="${workspace_loc:Sample_Source}/../Binaries/${env_var:PATH}"/>
<mapEntry key="LD_LIBRARY_PATH" value="${workspace_loc:Sample_Source}/../Binaries"/>
<mapEntry key="DYLD_LIBRARY_PATH" value="${workspace_loc:Sample_Source}/../Binaries"/>
<mapEntry key="DYLD_FRAMEWORK_PATH" value="${workspace_loc:Sample_Source}/../Binaries"/>
<mapEntry key="DLE_INSTALL_LOCATION" value="${workspace_loc:Sample_Source}/../Binaries"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.datalogics.PDFL.JavaViewer.JavaViewer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Sample_Source"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Sample_Source}/../../"/>
</launchConfiguration>
